 <%= @list.name %>
 <%= cl_image_tag(@list.photo.key,
      width: 400, height: 300, crop: :fill) %>

</button>
      <%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
    </div>

<div id="bookmark">
  <% @list.bookmarks.each do |bookmark| %>
    <strong>Movie Title:</strong>
    <%= bookmark.movie.title %>:
    <%= bookmark.movie.overview %>
    <%= bookmark.comment %>
  <% end %>
</div>

 <h2>Add bookmark:</h2>

 <%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :comment %>
    <%= f.association :movie %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>


 <%# <%= @bookmark.comment %>
